.layui-fluid {
    margin: 0;
    padding: 0;
}

.featured-app {
    display: inline-block;
    vertical-align: top;
    /* width: 140px; */
    width: 100%;
    padding: 0;
    color: #7c9398;
    margin: 10px 20px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.featured-app:hover {
    text-decoration: none;
}

.featured-app-logo-wrapper {
    /* width: 120px;
    height: 120px; */
    margin: 10px;
    transition: transform .4s;
}

.featured-app:hover .featured-app-logo-wrapper {
    transform: scale(1.5);
    transition-duration: .08s;
}

.featured-app:active .featured-app-logo-wrapper {
    transform: scale(1.2);
    transition-duration: 0;
}

.featured-app-logo {
    width: 100%;
    font-size: 30px;
    color: #01AAED;
}

.featured-app-name {
    text-decoration: none;
    line-height: 1.3;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}